<div id="<%= dom_id company %>">
  <div>
    <strong>Name:</strong>
    <%= company.name %>
  </div>

  <div>
    <strong>Cnpj:</strong>
    <%= company.cnpj %>
  </div>

  <div>
    <strong>User:</strong>
    <%= company.user_id %>
  </div>

  <div>
    <strong>Picture url:</strong>
    <%= company.picture_url %>
  </div>

</div>
