<!DOCTYPE html>
<html>
  <%= render "layouts/components/header" %>
  <body>
    <% if user_signed_in? %>
      <%= render "layouts/components/admin/navbar" %>
    <% end %>
    <main>
      <div class="container pb-5">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </main>
    <%= render "layouts/components/footer" %>
  </body>
</html>
